body{
    background-image: url('Images/etutausta.png');
    color: blue;
}
    nav{
        background-color:rgba(93, 25, 25, 0.493);
        font-size: 30px;
        text-align: center;
        color: white;
    
}
img{position: absolute;
    width: 188px;
    height: 183px;
    left: 71px;
    top: 31px;}
h1{text-align: center;
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 130%;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;
gap: 8px;
color:rgb(182, 207, 228);
}

    
            h5{display: flex;
                flex-direction: row;
                align-items: flex-start;
                padding: 0px;
                gap: 8px;
                
                position: absolute;
                width: 201px;
                height: 93px;
                left: 96px;
                top: 230px;
                color: aliceblue;

}
            h6{display: flex;
                flex-direction: row;
                align-items: flex-start;
                padding: 0px;
                gap: 8px;
                
                position: absolute;
                width: 202px;
                height: 84px;
                left: 95px;
                top: 305px;
                color: aliceblue;}
            p2{display: flex;
                flex-direction: row;
                align-items: flex-start;
                padding: 0px;
                gap: 8px;
                
                position: absolute;
                width: 288px;
                height: 78px;
                left: 95px;
                top: 273px;
            color: aliceblue;}

                p3{display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    padding: 0px;
                    gap: 8px;
                    
                    position: absolute;
                    width: 154px;
                    height: 232px;
                    left: 96px;
                    top: 342px;
                    color: aliceblue;
                    }
            p{position: absolute;
                width: 523px;
                height: 270px;
                left: 520px;
                top: 312px;
                font-style: normal;
                font-weight: 500;
                font-size: 32px;
                line-height: 130%;
            color: aliceblue;
            background: radial-gradient(50% 50% at 50% 50%, #805e5ea2 0%, rgba(217, 217, 217, 0) 100%);}
            
            
            
            
            
            a{color: aliceblue;
                font-size: 32px;
            }
            
            p5{display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 8px 16px;
                gap: 8px;
                
                position: absolute;
                width: 200px;
                height: 61px;
                left: 65px;
                top: 234px;
                color: aliceblue;
                background: #2678F3;
                border-radius: 8px;}

                p4{display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    padding: 0px;
                    gap: 8px;
                    
                    position: absolute;

                    top: 383px;
                    
                    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
                    font-family: 'Nunito';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 130%;
                    
                    
                    
                    color: #ffffff;
                }
                p6{position: absolute;
                    width: 304px;
                    height: 83px;
                   
                    top: 285px;
                    font-weight: 700;
                    font-size: 42px;
                    line-height: 130%;
                color: aliceblue;}




